html{
    background: rgb(254, 244, 231);
    font-family: "Noto Sans", sans-serif;
    margin: 10px 10px 0 10px;
}

header{
    background: rgb(248, 245, 227);
    color:rgb(108, 70, 0);
    text-align: center;
    padding-bottom: 20px;
    margin: 2em auto;
    border: rgb(108, 70, 0) 2px solid;
    width: 60%;
}

.description{
    margin-top: 40px;
}

.bad__examples{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.ux__bad {
    position: relative;
    background-color: 	#faf5ef;
    padding: 15px;
    border:rgba(108, 70, 0, 0.306) 5px dotted;
    border-radius: 5px; 
    width: 50vw;
    margin: auto;
}

span{
    font-weight: bold;
}

li{
    margin-bottom: 5px;
}

img{
    width:45vw;
    border: #8d7b68 3px solid;
    border-radius:5px;
    margin: 1em 2em;
}


img:hover{
    box-shadow: #5b4f43 0px 7px 29px 0px;
}

.link:visited{
    color: rgb(118, 68, 43);
}

.link:hover{
    color: blue;
}

.link:active{
    color: yellow;
}

.buttom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #5b4f43;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0 0 0;
    background: #8d7b684d;
}