html{
    background: rgb(254, 244, 231);
    font-family: "Noto Sans", sans-serif;
    margin: 10px;
}

header{
    background: rgb(248, 245, 227);
    color:rgb(108, 70, 0);
    text-align: center;
    padding-bottom: 20px;
    margin: 2em auto;
    border: rgb(108, 70, 0) 2px solid;
    width: 60%;
}

.description{
    margin-top: 40px;
}

.bad__examples{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.ux__bad {
    position: relative;
    background-color: #f4f9fa;
    padding: 15px;
    border:rgba(108, 70, 0, 0.306) 5px dotted;
    border-radius: 5px; 
    width: 50vw;
    margin: auto;
}

span{
    font-weight: bold;
}

li{
    margin-bottom: 5px;
}

img{
    width:45vw;
    border: rgb(160, 177, 206) 3px solid;
    border-radius:5px;
    margin: 0 2em;
}

img:hover{
    box-shadow: rgba(43, 43, 47, 0.458) 0px 7px 29px 0px;
}

.link:visited{
    color: rgb(92, 138, 50);
}

.link:hover{
    color: blue;
}

.link:active{
    color: yellow;
}
